# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
virtual/
virtualenv/

# Ignore IDE/editor settings
.idea/
.vscode/

# Ignore DB and test data
*.db
*.sqlite3
*.log

# Ignore OS system files
.DS_Store
Thumbs.db

# Ignore Git
.git
.gitignore
